.top-buffer {
     margin-top:20px; 
}
.bottom-buffer {
     margin-bottom:20px; 
}

.cont-margin {
    margin-top : 15%;  /*for some reason, 15% of the page centers the div in index.html, you would expect 50% or 45% to do that */
}


.body-pic {
    background-image: url(/img/wallpaper.jpeg);
}

.body-pic-opacity {
    background-image: url(/img/wallpaper.jpeg);
}

.navbar-opacity{
    opacity:0.75;
}
.full-opacity {
   background-color : 0xFF;
}


.tab-bar{
    background-color : lightgrey;
    color : black;
}


.grey-background {
    background : lightgrey;
}